.header {
  display: flex;
  align-items: center;
  gap: 60px;
}

.header #logo {
  width: 48px;
  height: 48px;
}

.header #search {
  height: 32px;
  width: 280px;
  border-radius: 25px;
  border: 1px solid rgb(240, 240, 240);
  padding: 12px 12px 12px 32px;
}

.header button {
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  width: 96px;
  height: 44px;
  background-color: #e45c96;
}

.search-bar img {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: 8px;
}

.search-bar {
  position: relative;
  display: flex;
  align-items: center;
}

.header #search::placeholder {
  color: rgb(215, 215, 215);
}

.user-avatar {
  position: relative;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /* background: rgb(211, 211, 211); */
  margin-left: auto;
  margin-right: 12px;
}

.initials {
  color: white;
  /* font-family: 'Bebas Neue', sans-serif; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
